body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #16181b;
}

#canvas-container {
    flex-grow: 1;
    background-image: radial-gradient(#2d3136 1px, transparent 1px);
    background-size: 20px 20px;
}

.app-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar{
    width: 160px;
    height: 100vh;
    background-color: #202225;
    border-right: 1px solid #2f3136;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 10;
}

.sidebar-title{
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.sidebar p{
    color: #b9bbbe;
    margin-bottom: 10px;
}

.tool-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #2f3136;
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.tool-btn:hover{
    background-color: #40444b;
    border-color: #5865f2;
}

.rect-icon{
    width: 20px;
    height: 12px;
    background-color: #5865f2;
    border-radius: 3px;
    border: 2px solid #ffffff;
}

.trash-zone{
    margin-top: auto;
    margin-bottom: 40px;
    padding: 20px;
    border: 2px dashed #ff5555;
    border-radius: 8px;
    text-align: center;
    color: #ff5555;
    font-weight: bold;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.trash-zone.drag-over{
    background-color: rgba(255, 85, 85, 0.1);
    box-shadow: 0 0 10px #ff5555;
    color: #ff7777;
    transform: scale(1.05);
} 

.transh-icon{
    font-size: 2rem;
}

.trash-text{
    font-size: 0.8rem;
    font-weight: bold;
}

textarea {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    align-items: center;
}